.type-117 {
  background-color: #f7f7f7;
  font-family: 'Open Sans', arial, serif;
}
.type-117 .row .hor {
  text-align: center;
}
.type-117 .row .hor h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
}
.type-117 .row .hor span {
  font-weight: 300;
  font-style: normal;
  margin-bottom: 15px;
  display: block;
  font-size: 14px;
  line-height: 22px;
}
.type-117 .row .hor p {
  color: #465157;
  font-size: 13px;
  line-height: 24px;
}
