.content .logo {
  text-align: right;
  color: white;
  background: black;
  line-height: 30px;
}
.content .title {
  text-align: center;
}
.content .navbar-default {
  background-color: #ffffff !important;
  border-color: #e7e7e7;
}
.content .large-pic {
  width: 100%;
  border: 1px solid #e1e0e0;
  margin-bottom: 10px;
}
.content .small-pic {
  width: 100%;
  border: 1px solid #e1e0e0;
}
.content .small-pic:hover {
  opacity: 1;
}
.content .addcart {
  color: white;
  background: black;
  padding: 9px 18px;
  border-radius: 30px;
}
.content .addcart:hover {
  background: #77b5e5;
  color: white;
  text-decoration: none;
}
.content .f2 {
  text-align: right;
  line-height: 30px;
}
.content .line {
  border-top: 1px solid #e1e0e0;
  margin-top: 15px;
  padding: 15px 0;
}
.content .line-bottom {
  border-bottom: 1px solid #e1e0e0;
  margin-bottom: 15px;
  padding: 15px 0;
}
.content h3 {
  font-weight: bold !important;
}
.content .price {
  font-size: 24px;
  font-weight: bold;
}
.content h2 {
  font-weight: bold !important;
}
.content .container-fluid>.navbar-collapse,
.content .container-fluid>.navbar-header,
.content .container>.navbar-collapse,
.content .container>.navbar-header {
  margin-left: -50px !important;
}
.content .nav>li>a {
  padding: 10px 34px !important;
}
.content .navbar-nav>li>a {
  line-height: 30px !important;
}
.content .navbar-default .navbar-nav>.active>a,
.content .navbar-default .navbar-nav>li:hover,
.content .navbar-default .navbar-nav>.active>a:focus,
.content .navbar-default .navbar-nav>.active>a:hover {
  color: #555;
  background-color: #e7e7e7;
}
.content .fa-shopping-cart {
  color: white;
  text-decoration: none;
}
.content .fa-shopping-cart:active {
  color: white;
  text-decoration: none;
}
.content .fa-shopping-cart:hover {
  color: white;
  text-decoration: none;
}
.content .fa-shopping-cart:visited {
  color: white;
  text-decoration: none;
}
.content .faded {
  opacity: 0.7;
}
.content .items {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
.content .pname {
  color: #333;
  display: block;
}
.content .pname:hover {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
.content .pprice {
  color: #b30505;
  font-weight: bold;
}
.content .items img {
  height: 150px;
  text-align: center;
}
.content .feature {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 15pt;
}
.content .feature:hover {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
