.member img {
  display: block;
  width: 100%;
  height: auto;
}
.member {
  margin-bottom: 2.8rem;
  transition: all .3s ease;
  background-color: #fff;
}
.member:hover {
  box-shadow: 5px 5px 8px 5px #888888;
}
body {
  background: #f4f4f4;
}
.member h3 {
  background: #fff;
  padding: 25px 0;
  margin-top: 0;
  text-align: center;
  font-size: 18px;
}
.text-center {
  text-align: center !important;
  margin-top: 20px;
}
.text-center button {
  font-size: 15px;
  padding: 12px;
  background: #1b65a9;
  color: #fff;
}
.text-center button:hover {
  box-shadow: 5px 10px 20px pink inset;
}
