.type-143 {
  background: #f6f6f6;
  padding: 2% 0;
}
.type-143 .container .title {
  color: #999;
}
.type-143 .container .name {
  font-weight: bold;
}
.type-143 .container p {
  color: #777;
}
.type-143 .col-md-4 {
  padding-top: 6%;
}
.type-143 .ship {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.8;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 2%;
  border: 1px solid #dedede;
}
.type-143 .ship img {
  margin-right: 2%;
  color: #252525;
}
.type-143 .ship h4 {
  margin-bottom: 0;
  color: #252525;
  font: 600 1.4rem/1.1 "Open Sans", sans-serif;
  text-transform: uppercase;
}
.type-143 .a img {
  margin-left: 1%;
  margin-right: 3%;
  color: #252525;
}
.type-143 .b img {
  margin-left: 1%;
  margin-right: 4%;
  color: #252525;
}
