html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.content-container-left {
  position: absolute;
  top: 40%;
  left: 20%;
  border: 5px solid #dcdcdf;
}
.content-container-right {
  position: absolute;
  top: 40%;
  right: 20%;
}
.conten h2 {
  text-align: center;
}
.conten h3 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-top: -20px;
}
.conten a button {
  margin-left: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
  font-weight: bold;
  font-size: 20px;
  background: #08c;
  color: #fff;
  border-radius: 5px;
}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  margin-bottom: 80px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
